@import url('https://fonts.googleapis.com/css2?family=Alice&Montserrat:wght@200;400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body, #content {
  margin: 0;
}

svg {
  height: 20px;
  margin: 8px;
}

p {
  color: #3b2239;
}

.header {
  background-color: #C04A82;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.header h1, .header h3 {
  color: #FDD36A;
  font-family: 'Alice', serif;
}

.tab-grid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
}

.background-div {
  /* Photo by Ivana Cajina on Unsplash */
  background: url('./sunrise.jpg') no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 32px;
}

.main, .menu-page, .contact-page {
  background-color: #dc84497a;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  margin: 32px 32px 16px 32px;
  padding: 32px 32px 16px 32px;
  text-align: center;
}

.main h2, .menu-page h2, .contact-page h2, h3 {
  color: #BE6DB7;
  font-family: 'Alice', serif;
  border-bottom: 2px solid transparent;
  transition: transform 0.3s;
}

.Menu:hover, .Contact:hover, .Home:hover, .active {
  cursor:pointer;
  outline-width: 6px;
  border-bottom: 2px solid #BE6DB7;
}

.perks-div {
  margin: 64px 16px;
  padding: 16px;
  border-radius: 15px;
  background-color: #C04A82;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
}

button {
  width: fit-content;
  height: fit-content;
  padding: 16px 32px;
  border-radius: 50px;
  border: none;
  font-size: medium;
  background-color: #FDD36A;
  color: #BE6DB7;
  font-family: 'Alice', serif;
  font-weight: 600;
  transition-duration: 0.3s;
  transition-property: background-color;
}

button:hover {
  background-color: #dfba5e;
}

.coffee-div {
  /* Photo by Fahmi Fakhrudin on Unsplash */
  background: url('./coffee.jpg') no-repeat;
  background-size: cover;
  margin-bottom: 32px;
  height: 30vh;
  width: 60vw;
  border-radius: 15px;
  display: flex;
}

.menu-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 8px;
  text-align: center;
}

.menu-item p, .menu-item h5 {
  margin: 0;
  color: #3b2239;
}

h5 {
  color: #3b2239;
}

.message, .location, .hours {
  display: flex;
  align-items: center;
}

.message h5:hover, .message svg:hover {
  cursor: pointer;
}

